# Unity generated folders
FragArena/[Ll]ibrary/
FragArena/[Tt]emp/
FragArena/[Oo]bj/
FragArena/[Bb]uild/
FragArena/[Bb]uilds/
FragArena/[Ll]ogs/
FragArena/[Uu]ser[Ss]ettings/
FragArena/[Mm]emoryCaptures/
FragArena/[Rr]ecordings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash reports
sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app
