# Unity generated folders
PoolFPS/[Ll]ibrary/
PoolFPS/[Tt]emp/
PoolFPS/[Oo]bj/
PoolFPS/[Bb]uild/
PoolFPS/[Bb]uilds/
PoolFPS/[Ll]ogs/
PoolFPS/[Uu]ser[Ss]ettings/
PoolFPS/[Mm]emoryCaptures/
PoolFPS/[Rr]ecordings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash reports
sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app
