# Unity generated folders
EpicBattle3D/[Ll]ibrary/
EpicBattle3D/[Tt]emp/
EpicBattle3D/[Oo]bj/
EpicBattle3D/[Bb]uild/
EpicBattle3D/[Bb]uilds/
EpicBattle3D/[Ll]ogs/
EpicBattle3D/[Uu]ser[Ss]ettings/
EpicBattle3D/[Mm]emoryCaptures/
EpicBattle3D/[Rr]ecordings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash reports
sysinfo.txt
crashlytics-build.properties

# Builds
*.apk
*.aab
*.unitypackage
*.app
1.txt
